<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geelaro.sunshine">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.SunshineApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".main.MainHomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news.widget.NewsDetailActivity"
            android:parentActivityName=".main.MainHomeActivity">
        </activity>
        <activity android:name=".movies.MovieDetailActivity"
            android:parentActivityName=".main.MainHomeActivity">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".main.MainHomeActivity">
        </activity>

        <provider
            android:name=".weather.model.data.WeatherProvider"
            android:authorities="com.geelaro.sunshine"
            android:exported="false"
            android:readPermission="com.geelaro.sunshine.READ_WEATHER">
        </provider>
        <service android:name=".weather.model.sync.WeatherSyncService" />

    </application>

</manifest>